@using SimpleCrud.Models.Roles
@model RoleViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Html.ActionLink("Edit", "Edit", "Role", new { id = Model.Id }, new { @class = "btn btn-warning" }) </td>
    <td>@Html.ActionLink("Delete", "Delete", "Role", new { id = Model.Id }, new { @class = "btn btn-danger" }) </td>
</tr>
