@using SimpleCrud.Models
@model AddUserModel

@using (Html.BeginForm())
{
    Html.RenderPartial("_PersonBase", Model);

    <div class="form-group">
        <label for="DateOfBirth">Data Urodzenia</label>
        @Html.EditorFor(m => m.DateOfBirth, new { @class = "form-control" })
    </div>
    

    @Html.ValidationSummary()

    <input type="submit" class="btn btn-primary" value="Zapisz" />
}

