@using SimpleCrud.Models
@model EditUserModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    Html.RenderPartial("_PersonBase", Model);
    <div class="form-group">
        <label for="IsActive">Czy aktywny?</label>
        @Html.EditorFor(m => m.IsActive, new { @class = "form-control" })
    </div>

    @Html.ValidationSummary()

    <input type="submit" class="btn btn-primary" value="Zapisz" />
}