@using SimpleCrud.Controllers
@model PersonIndexModel

@if (Model.AllowAdd)
{
    <a href="@Url.Action("Add")" class="btn btn-primary">Dodaj</a>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Imię i Nazwisko</th>
            <th>Wiek</th>
            <th>Rola</th>
            <th>Czy aktywny</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Users)
    </tbody>
</table>


@*Szuka widoku _Footer*@
@{
    Html.RenderPartial("_Counter", Model.Users.Count());
}

@*Szuka akcji _Footer*@
@*@{ 
    Html.RenderAction("List", "Role");
}*@
