@using SimpleCrud.Models.Roles
@model IEnumerable<RoleViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m)
    </tbody>
</table>

@*Szuka widoku _Footer*@
@{
    Html.RenderPartial("_Counter", Model.Count());
}